StudentCardAPI/Connected Services/ServiceStudentCard/ServiceAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50654/ServiceAccount.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="AddAmountByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuotaCHF" type="xs:double" />
        <xs:element minOccurs="0" name="Services" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmountByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="AddAmountByUsernameResult" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmountByUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuotaCHF" type="xs:double" />
        <xs:element minOccurs="0" name="Services" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmountByUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="AddAmountByUIDResult" nillable="true" type="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>